/*General Style*/
* {
    box-sizing: border-box;
}

body {
	background-color: RGB(247, 247, 247);
    margin: 0;
    height: 100%;
}

/*Header Style*/
header {
	display: block;
	position: relative;
	margin: auto;
	background-color: #f7f7f7;
    margin: 1% 1% 0% 1%;
}

header a {
	display: contents;
}

header a img {
	display: inline-block;
	position: relative;
	width: 20%;
}

header nav {
	display: inline-block;
	position: relative;
	float: right;
	width: 79%;
	margin: 0%;
}	

header nav ul {
	display: block;
	position: relative;
	list-style: none;
	margin-top: 0%;
	margin-bottom: 0%;
	padding-left: 7%;
}

header nav ul li {
	display: contents;
	position: relative;
	padding: 1% 8%;
}

.menu {
	border-right: 2px solid black;
}

header nav ul li a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	font-size: 1vw;
	color: black;
	padding: 1% 8%;
}
 header nav article {
 	display: block;
 	margin-top: 1%;
 }

 header nav article h2 {
 	display: inline-block;
 	margin-top: auto;
 	margin-bottom: 0%;
 	margin-right: 2%;
 	float:right;
 	font-size: 1vw;
 }

 header nav article a img {
 	display: inline-block;
 	position: relative;
 	float: right;
 	margin-top: 0%;
 	margin-bottom: 0%;
 	margin-right: 2%;
 	max-width: 2%;
 }

#cuerpo {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: -.4%;
    overflow: hidden;
}

/*Inicio Style*/
#slasher {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 85%;
    height: 79vh;
    margin: 1% auto;
    background-color: white;
}

#slider {
    display: inline-block;
    height: 65vh;
    margin: 4%;
}

#prev {
    position: absolute;
    left: 7.5%;
    margin: 0%;
    width: 20%;
    height: 79vh;
}

#next {
    position: absolute;
    right: 7.5%;
    margin: 0%;
    width: 20%;
    height: 79vh;
}

#prev:hover, #next:hover {
    background-color: RGBA(153, 153, 153, .4);
}

 /*Contacto Styles*/
 #informacion {
 	width: 85%;
    height: 79vh;
 	background-color: #f7f7f7;
 	margin: 1% auto;
 }

.company {
    position: relative;
 	background-color: gray;
    top: 5%;
    font-size: 2vw;
    text-align: center;
    margin: 3% auto;
 }

.inf {
    position: relative;
    top: 3%;
    font-size: 1.3vw;
    text-align: center;
    margin: 3% 10%;
}

#imgcontainer {
    display: flex;
    justify-content:space-around;
}

.img {
    display: inline-block;
    width: 5vw;
    margin: auto 4%;
}